body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

h2 {
  padding: 10px;
}

#map {
  height: 90vh;
  width: 100%;
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 250px;
  font-size: 16px;
}
